/*Estilos diseño Web*/
* {
  margin: 0;
  padding: 0;
}
/**********************header*************************/
    .header-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
    width: 100%;
    height: 20px;
    }
            .header-one a { /*tipografia de a*/
                color: #ffffff;
                text-decoration: none;
                font-family: 'Roboto';
                font-size: 12px;
            }
            .ofertas-en-comederos {
                display: flex;
                width: 50%;
            }
            .idioma-moneda {
                 display: flex; 
                 justify-content: space-between;
                width: 100px;  
            }

    .header-two {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height:10vh;
        background-color: #F0A83E;
    }
            .header-nav-two {
                display: flex;
                width: 30%;
                justify-content: space-around;

            }
            .header-nav-two nav ul li {
                display: flex;
                display: inline;
                text-decoration: none;
                list-style:none;
                font-family: Roboto;
            }
            .li-header {
                display: flex;
                justify-content: space-around;
                margin: 10px;
            }
a {
    text-decoration: none;
    color: white;
    justify-content: space-around;
            }

     .logo-header {
        display: flex;
        margin: 20px;
     }       
           
/**********************main**************************/
.fondo-plato {
    display: flex;
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.texto-plato {
    position: absolute;
    right: 20px;
    bottom: 100px;
    text-align: center;
    flex-direction: column;
    margin: 5px;
}

.es-un-placer {
    text-align: center;
    font-family: Roboto,sans-serif;
    border-radius: 5px;
    background-color: white;
    font-size: 40px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.descuentos {
    font-family: Roboto,Oxygen, Ubuntu, Cantarell;
    font-size: 25px;
    margin-bottom: 20px;
}

.comederos {
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont;
    font-size: 25px;
    color: white;
    background-color: #F0A83E;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}
/****************Section-1**************/
.seccion-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}


h2 {
    font-family:Roboto,system-ui, -apple-system;
    font-size: 45px;
    color: #3C2313;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-seccion-1 {
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.nav-seccion-1 a {
    color: black;
    text-decoration: none;
    font-family: ROboto,system-ui, -apple-system;
}
/**********************seccion-2******************/
.seccion-2{
    display: flex;
    justify-content: center; 
    margin-top: 10px;
    margin-bottom: 50px;
}
.card {
    display: flex;
    align-items: center;/*en la direccion de column que esten en el centro*/
    flex-direction: column; /**la direccion de acomodado es en column**/
    background-color: #FBFAF6;
    font-family: Roboto,system-ui, -apple-system;
    margin: 30px;
}
.card-a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
.card-p {
    color: #F0A83E;
    font-weight: bold;
}
/*********************section-3**********************************/
.seccion-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:50px;
}
.sec-3-h2 {
    text-align: center;
    font-family:Roboto,system-ui, -apple-system;
    font-size: 30px;
    color: #3C2313;

}
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 220px;
    margin: 25px;
}
.input {
    background-color: #3C2313;
    color: white;
    border-radius: 25px;
    border: none;
    margin: 10px;
    height: 60px;
    width: 450px;
}
.sec-3-button {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 20px;

}
.button-reset {
    color: white;
    font-family: Roboto;
    font-size: 20px;
    width: 130px;
    height: 40px;
    background-color: #8A8787;
    border-radius: 20px;
    border: none;
}
.button-submit {
    color: white;
    font-family: Roboto;
    font-size: 20px;
    width: 130px;
    height: 40px;
    background-color: #F0A83E;
    border-radius: 20px;
    border: none;
}
/***********seccion 4************/
.seccion-4-suscribete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0A83E;
    height:50px;
}
.suscribete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:10px;
    
  
}
.suscribete p {
    margin: 10px;
}
.suscribirme input {
    background-color: white;
    width: 271px;
    height: 40px;
    border: none;
    border-radius: 15px;
    margin: 10px;
}
.suscribirme button {
    color: white;
    background-color: #3C2313;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 15px;
    margin: 10px;
}
/*****************************footer**********************/
.footer-1 {
    display: flex;
    justify-content: space-between;
    background-color: #3C2313;
    padding: 10px;
}
.secction-interno {
    display: flex;

}
.footer-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    padding: 20px;
}
.footer-izq img {
    display: flex;
    margin: 10px;
}
.footer-izq-text {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    color: white;
}
.footer-der {
    display: flex;
    align-items: center;
    width: 25%;
}

.footer-2 {
    display: flex;
    justify-content: center;
    background-color: #222222;
    color: white;
    padding: 5px;
    font-family: Roboto, system-ui, -apple-system;
    font-style: normal;
    
}

